<h1>About Global Foods Market</h1>
<p>Our market has great food representing many countries, including:</p>
<ul>
    {{#each countries}}
        <li>{{this.name}}</li>
    {{/each}}
</ul>
<a href="countries/add">Add a new country to the list</a>